In [7]:
import pandas as pd

In [1]:
import requests

def get_banks_data():
    url = "https://brasilapi.com.br/api/banks/v1"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print("Erro ao puxar dados")
        return None

In [ ]:
banco = get_banks_data()
banco

In [8]:
bancos_df = pd.DataFrame(banco)
bancos_df

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
...,...,...,...,...
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.
357,,NaN,NaN,NaN
358,,NaN,NaN,NaN

In [9]:
bancos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ispb      359 non-null    object
 1   name      357 non-null    object
 2   code      348 non-null    float64
 3   fullName  357 non-null    object
dtypes: float64(1), object(3)
memory usage: 11.3+ KB

In [ ]:
%pip install plyer

In [14]:
from plyer import notification
notification.notify(
    title='Titulo da notificação',
    message='Mensagem da notificação',
    app_name= 'Nome do aplicativo',
    timeout=10)